.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upload-modal {
  transform: translate(0, 0);
  margin: auto;
  width: 600px;
  height: auto;
  background: grey;
  border: 2px solid white;
  box-shadow: 24;
  padding: 1rem;
  box-shadow: 0px 15px 15px black, 0px 15px 15px black, 0px 15px 15px black;
  border-radius: 8px;
  margin-top: 5rem;
  color: white;
}

#upload-btn-submit:hover, #upload-btn-cancel:hover {
  /* background-color: grey; */
  color: white;
  border: 1px solid white;
}
/* .upload-button {
  position: relative;
  z-index: 9999;
} */
